#displayAvengers
{
    font-family: "Comic Sans Ms";
    color: red;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.avengers2018 {

  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.avengers2018 li {

  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #607D8B;

  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.avengers2018 li.selected:hover {

  background-color: #BBD8DC !important;
  color: white;
}

/* .avengers2018 li {

  color: rgb(30, 147, 206);
  background-color: rgb(158, 25, 25);
  left: .1em;
} */

.avengers2018 .text {

  position: relative;
  top: -3px;
}
.avengers2018 .badge:hover {
  font-size: big;
  color: #e8ec06;
  background-color: rgb(231, 9, 9);
  border-radius: 4px 0 0 4px;
}

.avengers2018 .badge {

  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
